
#editor {
    margin: 10px;
    min-height: 500px;
}
.editor textarea {
    width: 45%;
    float: left;
    min-height: 500px;
    padding: 10px;
    /*border: none;*/
}

.preview {
    width: 45%;
    float: right;
    min-height: 99%;
    padding: 10px;
}
